services:
  product-service:
    build: ./product-service
    ports:
      - "8081:8081"

  order-service:
    build: ./order-service
    ports:
      - "8082:8082"
    depends_on:
      - product-service